:root{
    --background: #B83AED;
    --shadow: #403AED;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--background) ;
    color: white;
    font-family: Arial, Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif;
}
header{
    font-size: 20px;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px var(--shadow);
}
footer{
    text-align: center;
    font-style: italic;
}
#msg{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    color: black;
}

#foto{
    text-align: center;
}
#foto img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px var(--shadow);
}